*{
    margin: 0;
    font-family: Arial;
    /* add margin nd padding */
    border: border-box;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon.png");
    /* background-size: 30px; */
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/* boxxx 2 */
 
.add1{
    color: #CCCCCC;
    font-size: 0.80rem;
    margin-left: 10px;
    bottom: 4px;

}
.add2{
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 3px;
}
.adr-logo{
    display: flex;
    margin-left: 5px;
    

}
/* boxxx 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: orangered;
}