html,
body {
    margin: 0;
    height: 100%;
}

.bgimg {

    background-image: url(/photos/web3.jpg);
    min-height: 100%;
    background-size: cover;
    background-repeat: no no-repeat;
    position: relative;
    background-position: center;
}

.hi {
    color: white;
    position: absolute;
    top: 20%;
    font-weight: bolder;
    margin-left: 80px;
    width: 100%;
    font-size: 80px;
}

.head {
    color: white;
    position: absolute;
    top: 36%;
    font-weight: bolder;
    margin-left: 130px;
    width: 100%;
    font-size: 80px;
}

.work {
    height: 150px;
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 50px;
    padding: 40px;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
}
.abt {
    display: flex;
    text-align: center;
}
.contact {
    color: white;
    background-color: rgb(46, 100, 46);
    /* background-color: #666; */
    padding: 20px;
    /* border: 1px solid black; */
}
.about {
    color: white;
    background-color: rgb(119, 69, 51);
    /* background: #666; */
    padding: 20px;
}