.header{
    width: auto;
    text-align: center;
}

.footer{
    text-align: center;
}
.card{
    /* background-color: red; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.card img{
    height: 142px;
    
}




/* -------------------------------------------------------project----------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */
